<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styling.css">
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a href="/" > Home</a>
        <a href="/upload"class="active"> Import Data</a>
        <a href="/analysis"> Analysis</a>
        <a href="/results"> Clustering results</a>
        <a href="/tables"> Subset Analysis </a>
        <a href="javascript:void(0);" class="icon">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    
    <div style="padding-left:16px">

    </div>
    <h2>Upload new File</h2>

    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    <br><br>
    <div>
        <form action="/uploads/forward/" method="post">
            <button name="forwardBtn" type="submit">Read Data</button>
        </form>
    </div>

    <br>

    <div>
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                <p>
                {{ messages }}
                </p>
            {% endif %}
        {% endwith %}
    </div>

    <div> {{ forward_message }} </div>


    <div>
        {% if print_adata %}
            <p>
            {{ print_adata }}
            </p>
        {% endif %}
    </div>

</body>
</html>
